<h1>All Astronauts</h1>

<section class="average_age">
  <p>Average Age: <%= Astronaut.average_age %></p>
</section>

<% @astronauts.each do |astronaut| %>
  <section id="astronaut-<%= astronaut.id %>">
    <p>Name: <%= astronaut.name %></p>
    <p>Age: <%= astronaut.age %></p>
    <p>Job: <%= astronaut.job %></p>
    <p>Missions:</p>
      <section id="missions">
        <% astronaut.missions.each do |mission| %>
        <p><%= mission.title %>,</p>  
        <% end %>
      </section>
  </section>
<% end %>
